body
{
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
}

table
{
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	width: 100%;
}

td, tr
{
	border-bottom: 1px solid;
	font-size: 9px;
}

#settingsButton{
	float: right;
}

.settingsDialog{
	width: 300px;
	height: 300px;
	position: absolute;
	z-index: 10;
	right: 0;
	top: 0;
	border: solid 1px;
	background-color: white;
	padding: 20px;
	display: none;
}

.jugebutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	-webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea));
	background:-moz-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background:-webkit-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background:-o-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background:-ms-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea',GradientType=0);
	background-color:#bddbfa;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
	width: 50%;
}
.jugebutton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa));
	background:-moz-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background:-webkit-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background:-o-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background:-ms-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa',GradientType=0);
	background-color:#80b5ea;
}
.jugebutton:active {
	position:relative;
	top:1px;
}

}

canvas
{
	border: 1px solid;
}
#myCanvas
{
    z-index:-1;
    position:relative;
}
#InfoCanvas
{
    z-index:1;
    position:absolute;
}
#GhostCanvas
{
    z-index:2;
    position:absolute;
}
#popup 
{
	z-index:3;
    background-color:white;
    border:1px solid blue;
	border-radius:3px;
	box-shadow: 5px 5px 5px black;/*#888888;*/
    position:absolute;
    left:-200px;
    top:100px;
}
.asd{
	width:300px;
	height:100px;
}
.jobstable{
	border:solid 1px #99CCFF;
	box-shadow: 2px 2px 2px #888888;
}
#scrollTable{
	height: 300px;
	overflow: auto;
}
.jobRow{
	padding:5px;
	text-align:center;
	font-size:12px;
}
.jobRow:hover{
	color:white;
	font-weight:bold;
	font-size:14px;
	background-color: #99CCFF;
}

.mainPanel
{
	margin-right: 2%;
	width: 75%;
	height: auto;
	padding: 1px;
	/*width: auto;
	height: auto; */
	float: left;
}
	
.rightPanel
{
	float: left;
	width: 15%;
	height: 50%;
	padding: 10px;
}
.searchField{
	float:left;
	width:79%;
	font-size:14px;
	height:30px;
	border-radius:7px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
}
.searchField:focus{
	outline:none;
	box-shadow: 0 0 10px #99CCFF;
}
.roundEdges
{
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	/*-moz-border-radius-bottomleft: 10px;*/
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	width: 79%;
	float: left;
}

#searchBox
{
	padding-left: 10px;
}

.floatLeft
{
	height:30px;
	font-size:12px;
	background:#dddddd;
	font-weight:bold;
	float:left;
}
#searchDiv{
	margin-top:60px;
	margin-bottom:120px;
}
#buttonDiv{
	margin-bottom:10px;
}
.clearFloat
{
	float: clear;
}

.info
{
	margin-top: 3%;
	border: 1px solid;
	padding: 10px;
	height: 40%;
}

.active
{
	background-color: green;
}

#noBorder
{
	border: none;
}

#modalDialog{
	display: none;
}
.tableWorks{
	border: 1px solid black;
	
}
.thWorks{
	color:white;
	background-color:#005FBF;
	padding-right:25px;
	padding-left:25px;
	font-weight:bold;
	font-size:16px;
}
.tdWorks{
	font-size:12px;
	padding:5px;
}
.trWorks:nth-child(even){
	background-color:#99CCFF;
}
.dialogHead{
		color:#99CCFF;
}
input:focus
{
	outline: none;
}

@media (max-width: 1300px) {
  .rightPanel {
	padding: 0px;
	width: 20%;
	display: block;
  }
  .mainPanel {
	/*width: 100%;*/
	padding: 1px;
	margin: 2px;
  } 
}

@media (max-width: 1000px) {
	.rightPanel {
		display:none;
	}
	.mainPanel {
		width: 100%;
	}
}
